<h1>New Article</h1>

<%= form_for @article do |f| %>

  <div>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :url %><br/>
    <%= f.text_field :url %>
  </div>

  <div>
    <%= f.label :bookmark %><br/>
    <%= f.check_box :bookmark? %>
  </div>

  <div>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :subtopic_id %><br/>
    <%= f.number_field :subtopic_id %>
  </div>

  <div>
    <%= f.label :level  %>
    <%= f.select :level, options_for_select([['Beginner', 1], ['Intermediate', 2], ['Advanced', 3]], 1) %>
  </div>


  <div>
    <%= f.submit "Create Article" %>
  </div>
<% end %>
