<div class="container">
  <h1><%= @article.title %></h1>

  <p>
    <b>URL:</b>
    <%= link_to @article.url, @article.url %>
  </p>

  <p>
    <b>Bookmark:</b>
    <%= @article.bookmark %>
  </p>

  <p>
    <b>Description:</b>
    <%= @article.description %>
  </p>

  <p>
    <b>Subtopic:</b>
    <%= @article.subtopic_id %>
  </p>

  <p>
    <b>Number of Votes:</b>
    <%= @article.number_of_votes %>
  </p>

</div>

