<div class="container">

  <% if notice.present? %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>

  <h1><%= @article.title %></h1>

  <p>
    <b>URL:</b>
    <%= link_to @article.url, @article.url %>
  </p>

  <p>
    <b>Description:</b>
    <%= @article.description %>
  </p>

  <p>
    <b>Subtopic:</b>
    <%= @article.subtopic_id %>
  </p>

  <p>
    <b>Number of Votes:</b>
    <%= @article.number_of_votes %>
  </p>

</div>

