<h1>Article #<%= @article.id %></h1>

<p>
  <b>Article title:</b>
  <%= @article.article_title %>
</p>

<p>
  <b>Url:</b>
  <%= @article.url %>
</p>

<p>
  <b>Bookmark:</b>
  <%= @article.bookmark %>
</p>

<p>
  <b>What description:</b>
  <%= @article.what_description %>
</p>

<p>
  <b>Why description:</b>
  <%= @article.why_description %>
</p>

<p>
  <b>Subtopic:</b>
  <%= @article.subtopic_id %>
</p>


