<div id="article-form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="article-add-form" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add a New Article to <%= @topic.title %></h3>
  </div>
  <div class="modal-body">
    <%= form_for @article do |f| %>

      <%= f.label :title, "What's the title of the article?" %>
      <%= f.text_field :title, "placeholder" => 'ex. Shakespeare Quotes' %>

      <%= f.label :url, "URL" %>
      <%= f.text_field :url, "placeholder" => 'ex. http://absoluteshakespeare.com/trivia/quotes/quotes.htm'   %>

      <%= f.label :description, "Why this resource?" %>
      <%= f.text_field :description, "placeholder" => "Tell everyone why this resource is great."  %>

      <%= f.hidden_field :user_id, value: "#{session[:user_id]}" %>

      <%= f.label :level, "Choose Level:"  %>
      <%= f.select :level, options_for_select([['Beginner', 1], ['Intermediate', 2], ['Advanced', 3]], 1) %>


      <%= f.label :subtopic_id, "Within that topic, what subtopic?"  %>
      <%= f.select :subtopic_id, options_from_collection_for_select(Subtopic.where(:topic_id => params[:id]), "id", "title") %>




  </div>
  <div class="modal-footer">
    <%= f.submit "Add", :class => "btn btn-success pull-left" %>
      <% end %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


