
<div class="container">
  <div class="row">
    <div class="span5">
      <h1><%= @topic.title %></h1>
      <p><%= link_to @topic.category.title, category_url(@topic.category.id) %> > <%= @topic.title %></p>
    </div>
    <div class="span7">
      <p class="m15-top"><%= @topic.description %></p>
    </div>
  </div>
</div>

<div class="row">
  <div>
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <div class="container">
      <div class="row m40-top">
        <div class="span12">
          <ul class="nav nav-tabs">
            <li><a href="/topics/<%= @topic.id %>/"><h4>Welcome</h4></a></li>
            <li><a href="/topics/<%= @topic.id %>/beg_articles.html"><h4>Beginner</h4></a></li>
            <li><a href="/topics/<%= @topic.id %>/int_articles.html"><h4>Intermediate</h4></a></li>
            <li class="active"><h4>Advanced</h4></a></li>
          </ul>
        </div>
      </div>
    </div>

  <section>

    <div class="tab-content bgwhite">
      <div class="tab-pane active">
        <div class="m10-top container ">
          <div class="row"><!--added to center contents within tab -->
            <div class="span9">
              <div id="main">
                <a href="#article_form" role="button" class="btn btn-success" data-toggle="modal" data-target="#article-form">Submit an Article</a>
                <% @articles.where(:subtopic_id => params[:subtopic_id]).each do |article| %>
                  <p><%= link_to article.title, article.url, :target => "_blank" %></p>
                  <p><%= article.description %></p>
                <% end %>

              </div><!--main div end -->
            </div><!--column end-->

            <div class="span3">
              <h2>Subtopics</h2>
              <a href="#subtopic-form" role="button" class="btn btn-success" data-toggle="modal" data-target="#subtopic-form">Submit a Sub Topic</a>

              <div class="accordion" id="accordion2">
                <% @topic.articles.where(:level => 3).each do |article| %>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <%= link_to article.subtopic.title, adv_articles_url({:subtopic_id => article.subtopic.id}) %>
                    </div>
                  </div>
                <% end %>              </div>

            </div><!--column end-->

          </div>
        </div><!-- end of crazy centering -->
      </div>
  </div>

</section>
</div>

</div><!--end row -->

<%= render 'subtopic_modal' %>
<%= render 'article_modal' %>
