
<div class="container topic-introduction">
  <div class="row">
    <div class="span5">
      <h1><%= @topic.title %></h1>
      <p><%= link_to @topic.category.title, category_url(@topic.category.id) %> > <%= @topic.title %></p>
    </div>
    <div class="span7">
      <p class="m15-top"><%= @topic.description %></p>
    </div>
  </div>
</div>

<div class="row">
  <div>
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <div class="container">
      <div class="row m40-top">
        <div class="span12">
          <ul class="nav nav-tabs">
            <li><a href="/topics/<%= @topic.id %>/"><h4>Welcome</h4></a></li>
            <li><a href="/topics/<%= @topic.id %>/beg_articles.html"><h4>Beginner</h4></a></li>
            <li><a href="/topics/<%= @topic.id %>/int_articles.html"><h4>Intermediate</h4></a></li>
            <li class="active"><h4>Advanced</h4></a></li>
            <li id="show-hide" class="pull-right active intro-show"></li>
          </ul>
        </div>
      </div>
    </div>

  <section>

    <div class="tab-content bgwhite">
      <div class="tab-pane active">
        <div class="m10-top container ">
          <div class="row"><!--added to center contents within tab -->
            <div class="span9">

                <% unless params[:subtopic_id].present? %>
                  <div class="levels-arrow">
                    <div id="step2">
                      <h2 class="cursive">2. Choose a <br />subtopic to view<br />resources</h2>
                    </div>
                  </div>
                <% end %>

                <% if params[:subtopic_id].present? %>
                  <div id="main" class="radius">
                    <div id="subtopic-title" class="clearfix">
                      <h2 class="m0  pull-left"><%= Subtopic.find_by_id(params[:subtopic_id]).title %></h2>
                      <a href="#article_form" role="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#article-form">Submit an Article</a>
                    </div>

                 <% @articles.where(:subtopic_id => params[:subtopic_id]).each do |article| %>

              <div class="subtopic-content clearfix">
                  <div class="vote-module pull-left">
                    <%= form_for @vote, :remote => true do |f| %>
                      <%= f.hidden_field :user_id, value: "#{session[:user_id]}"%>
                      <%= f.hidden_field :article_id, value: "#{article.id}" %>

                      <% if article.votes.where(:user_id => session[:user_id]).present? %>
                      <%= f.submit "#{article.votes.count}", class: "voted-article", "data-toggle" => "tooltip", "title" => "Voted" , "id" => "article_#{article.id}" %>
                      <% else %>
                      <%= f.submit "#{article.votes.count}", class: "vote-button", "data-toggle" => "tooltip", "title" => "Vote" , "id" => "article_#{article.id}" %>
                      <% end %>
                      <% end %>
                  </div>

                  <div class="subtopic-description pull-right">
                    <h3 class="m0"><%= link_to article.title, article.url, :target => "_blank" %></h3>
                    <p>" <%= article.description %> "</p>
                    <hr />
                  </div>
                </div><!--subtopic content end -->
              <% end %>
              <% if params[:subtopic_id].present? %>
              <div id="subtopic-footer"><p>Not finding a great resource? Check out everything <%= link_to "Beyond the Top 20", subtopic_url(params[:subtopic_id], :level => 3) %></div>
              <% end %>

            </div><!--main div end -->
            <% end %>

            </div><!--column end-->

            <div class="span3">
              <aside id="subtopic-aside" class="span3 p10 radius">
                <h2>Subtopics</h2>

                <ul>
                  <% @topic.articles.where(:level => 1).each do |article| %>
                    <li><%= link_to article.subtopic.title, adv_articles_url({:subtopic_id => article.subtopic.id}) %></li>
                  <% end %>

                  <% @topic.subtopics.each do |subtopic| %>
                    <% if subtopic.articles.count == 0 %>
                        <li><%= link_to subtopic.title, adv_articles_url({:subtopic_id => subtopic.id})%></li>
                    <% else %>
                    <% end %>
                  <% end %>
                </ul>

                  <a href="#subtopic-form" role="button" class="btn btn-success" data-toggle="modal" data-target="#subtopic-form">Submit a Sub Topic</a>
              </aside>

            </div><!--column end-->

          </div>
        </div><!-- end of crazy centering -->
      </div>
  </div>

</section>
</div><!--end row -->

</div>
<%= render 'show_hide_js' %>
<%= render 'subtopic_modal' %>
<%= render 'article_modal' %>
