
<div class="container">
  <div class="row">
    <div class="span5">
      <h1><%= @topic.title %></h1>
      <p><%= link_to @topic.category.title, category_url(@topic.category.id) %> > <%= @topic.title %></p>
    </div>
    <div class="span7">
      <p class="m15-top"><%= @topic.description %></p>
    </div>
  </div>
</div>

<div class="row">
  <div>
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <div class="container">
      <div class="row m40-top">
        <div class="span12">
          <ul class="nav nav-tabs">
            <li><a href="/topics/<%= @topic.id %>/"><h4>Welcome</h4></a></li>
            <li class="active"><h4>Beginner</h4></li>
            <li><a href="/topics/<%= @topic.id %>/int_articles.html"><h4>Intermediate</h4></a></li>
            <li><a href="/topics/<%= @topic.id %>/adv_articles.html"><h4>Advanced</h4></a></li>
          </ul>
        </div>
      </div>
    </div>

  <section>

    <div class="tab-content bgwhite">
      <div class="tab-pane active">
        <div class="m10-top container ">
          <div class="row"><!--added to center contents within tab -->
            <div class="span9">
              <div id="main">

                <% if params[:subtopic_id].present? %>
                <div id="subtopic-title" class="clearfix">
                  <h2 class="m0  pull-left"><%= Subtopic.find_by_id(params[:subtopic_id]).title  %></h2>
                  <a href="#article_form" role="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#article-form">Submit an Article</a>
                </div>
                <% end %>

                  <div class="alert alert-success"><%= notice %></div>

                <% @articles.where(:subtopic_id => params[:subtopic_id]).each do |article| %>

                <div class="subtopic-content clearfix">
                  <div class="vote-module pull-left">
                    <%= form_for @vote do |f| %>
                      <%= f.hidden_field :user_id, value: "#{session[:user_id]}"%>
                      <%= f.hidden_field :article_id, value: "#{article.id}" %>
                      <%= f.submit "#{article.votes.count}", class: "vote-button", "data-toggle" => "tooltip", "title" => "first tooltip" %>
                      <% end %>
                  </div>

                  <div class="subtopic-description pull-right">
                    <h3 class="m0"><%= link_to article.title, article.url, :target => "_blank" %></h3>
                    <p>" <%= article.description %> "</p>
                    <hr />
                  </div>
                </div><!--subtopic content end -->
                <% end %>
                <% if params[:subtopic_id].present? %>
                <div id="subtopic-footer"><p>Not finding a great resource? Check out everything <%= link_to "Beyond the Top 20", subtopic_url(params[:subtopic_id], :level => 1) %></div>
                <% end %>
              </div><!--main div end -->

            </div><!--column end-->

            <div class="span3">
              <aside id="subtopic-aside" class="span3 p10 radius">
                <h2>Subtopics</h2>

                <div class="accordion" id="accordion2">
                  <% @topic.articles.where(:level => 1).each do |article| %>
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <%= link_to article.subtopic.title, beg_articles_url({:subtopic_id => article.subtopic.id}) %>
                      </div>
                    </div>
                  <% end %>

                  <% @topic.subtopics.each do |subtopic| %>
                    <% if subtopic.articles.count == 0 %>
                      <div class="accordion-group">
                        <div class="accordion-heading">
                        <%= link_to subtopic.title, beg_articles_url({:subtopic_id => subtopic.id})%>
                        </div>
                      </div>
                    <% else %>
                    <% end %>
                  <% end %>
                </div>
                  <a href="#subtopic-form" role="button" class="btn btn-success" data-toggle="modal" data-target="#subtopic-form">Submit a Sub Topic</a>
              </aside>
            </div><!--column end-->

          </div>
        </div><!-- end of crazy centering -->
      </div>
  </div>

</section>
</div>

</div><!--end row -->

<%= render 'subtopic_modal' %>

<%= render 'article_modal' %>
