<div class="indexed">
  <div class="container">
    <h1>Topics
    <%= link_to 'Add a New Topic', new_topic_url, :class => "btn btn-success" %></h1>

    <% if notice.present? %>
      <div class="alert"><%= notice %></div>
    <% end %>

    <table class="table indexed-container">
      <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>

        </tr>
      </thead>

      <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td><%= link_to topic.title, topic_url(topic) %>
            <% if (topic.user_id == session[:user_id] && session[:user_id].present?) || User.find_by_id(session[:user_id]).present? && User.find_by_id(session[:user_id]).admin == true %>
              <span class="details">( <%= link_to 'Edit', edit_topic_url(topic) %> | <%= link_to 'Destroy', topic_url(topic), method: 'delete', data: { confirm: "Do you really want to delete this topic?" } %> )</span></td>
            <% end %>
          <td><%= topic.category.title %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>




