
<div class="container">
  <div class="row">
    <div class="span5">
      <h1><%= @topic.title %></h1>
      <p><%= link_to @topic.category.title, category_url(@topic.category.id) %> > <%= @topic.title %></p>
    </div>
    <div class="span7">
      <p class="m15-top"><%= @topic.description %></p>
    </div>
  </div>
</div>

<div class="row">
  <div>
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <div class="container">
      <div class="row m40-top">
        <div class="span12">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab"><h4>Welcome</h4></a></li>
            <li><a href="#tab2" data-toggle="tab"><h4>Beginner</h4></a></li>

            <li><a href="#tab3" data-toggle="tab"><h4>Intermediate</h4></a></li>
            <li><a href="#tab4" data-toggle="tab"><h4>Advanced</h4></a></li>
          </ul>
        </div>
      </div>
    </div>

  <section>

      <div class="tab-pane" id="tab2">
          <div class="container">
              <div class="row">
                  <div class="span9">
                    <div id="main">
                      <a href="#article_form" role="button" class="btn btn-success" data-toggle="modal" data-target="#article-form">Submit an Article</a>
                      <% @articles.where(:subtopic_id => params[:subtopic_id]).each do |article| %>
                        <p><%= link_to article.title, article.url, :target => "_blank" %></p>
                        <p><%= article.description %></p>
                      <% end %>

                    </div><!--main div end -->
                  </div>


                  <div class="span3">
                    <aside id="subtopic-aside" class="span3 p10 radius">
                      <h2>Subtopics</h2>
                      <a href="#subtopic-form" role="button" class="btn btn-success" data-toggle="modal" data-target="#subtopic-form">Submit a Sub Topic</a>

                      <div class="accordion" id="accordion2">
                        <% @topic.subtopics.each do |subtopic| %>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <%= link_to "#{subtopic.title}", int_articles_url({:subtopic_id => subtopic.id}), :class => "accordion-toggle"%>
                            </li>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </aside>

                  </div><!--column end-->
                </div>
              </div>
          </div>

  </div>

</section>
</div>

</div><!--end row -->


<!-- modal -->
<div id="subtopic-form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="subtopic-add-form" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add a New Sub-Topic to <%= @topic.title %></h3>
  </div>
  <div class="modal-body">
    <%= form_tag subtopics_url, :method => :post do %>
      <%= label_tag :title, "Title" %>
      <%= text_field_tag :title  %>
      <%= hidden_field_tag :topic_id, @topic.id %>
      <%= submit_tag "Add", :class => "btn btn-success" %>
      <% end %>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<!-- new article modal -->
<div id="article-form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="article-add-form" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add a New Article to <%= @topic.title %></h3>
  </div>
  <div class="modal-body">
    <%= form_for @article do |f| %>

      <%= f.label :title, "Title" %>
      <%= f.text_field :title  %>

      <%= f.label :url, "URL" %>
      <%= f.text_field :url  %>

      <%= f.label :description, "Description" %>
      <%= f.text_field :description  %>

      <%= f.label :level  %>
      <%= f.select :level, options_for_select([['Beginner', 1], ['Intermediate', 2], ['Advanced', 3]], 1) %>

      <div>
      <%= f.select :subtopic_id, options_from_collection_for_select(Subtopic.all, "id", "title") %>
      </div>

      <%= f.submit "Add", :class => "btn btn-success" %>

      <% end %>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

