<h1>Topic #<%= @topic.id %></h1>

<p>
  <b>Topic title:</b>
  <%= @topic.title %>
</p>

<p>
  <b>Category:</b>
  <%= @topic.category.title %>
</p>

<h2>Add a New Sub-Topic to <%= @topic.title %></h2>
<%= form_tag subtopics_url do %>
<%= label_tag :title, "Title" %>
<%= text_field_tag :title  %>
<%= hidden_field_tag :topic_id, @topic.id %>
<%= submit_tag "Add" %>
<% end %>

