<div class="container">
  <div class="row">
    <div class="span5">
      <h1><%= @topic.title %></h1>
      <p><%= link_to @topic.category.title, category_url(@topic.category.id) %> > <%= @topic.title %></p>
    </div>
    <div class="span7">
      <p class="m15-top"><%= @topic.description %></p>
    </div>
  </div>
</div>


<div class="row">
  <div>
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <div class="container">
      <div class="row m40-top">
        <div class="span12">
          <ul class="nav nav-tabs">
            <li class="active"><h4>Welcome</h4></li>
            <li><a href="/topics/<%= @topic.id %>/beg_articles.html"><h4>Beginner</h4></a></li>
            <li><a href="/topics/<%= @topic.id %>/int_articles.html"><h4>Intermediate</h4></a></li>
            <li><a href="/topics/<%= @topic.id %>/adv_articles.html"><h4>Advanced</h4></a></li>
          </ul>
        </div>
      </div>
    </div>

  <section>

    <div class="tab-content bgwhite">
      <div class="tab-pane active">
        <div class="m10-top container ">
          <div class="row"><!--added to center contents within tab -->
            <div class="span9">

              <div id="subtopic-content" class="subtopic-intro">
                    <h1 class="cursive">Hello!</h1>
                    <p>Get ready to learn some <%= @topic.title %>! You can start by selecting the beginner tab above. If you're already familiar with some of the basics of <%= @topic.title %> check out the Intermediate &amp; Advanced tabs to find subtopics more to your interest.</p>

                    <h3>Subtopics</h3>
                    <p>Once you've selected the article level from the tabs above look to the right to select a subtopic of that section. You'll be greeted by the top 3 articles of that subtopic within <%= @topic.title %>.</p>

                    <h3>Something missing?</h3>
                    <p>If you're noticing that one of the skill levels is missing a concept please help us expand the section by <strong>adding a subtopic</strong>. Even if you don't know specifically what articles belong there it's ok.</p>

                    <p>If you're in a subtopic and have a great article that you believe belongs in the top 3 you can submit that too! We're looking for <strong>3 things</strong>:</p>
                    <ol class="welcome-list">
                      <li>The article's title</li>
                      <li>The article URL</li>
                      <li>And your reason for submitting it. Explaining why you think it's a great resource and how it's helpful clarifys it's purpose to users and helps you get votes.</li>
                    </ol>
              </div>
            </div><!--column end-->

            <div class="span3">
              <h2>Please select a resource level above.</h2>
            </div><!--column end-->

          </div>
        </div><!-- end of crazy centering -->
      </div>
  </div>

</section>
</div>

</div><!--end row -->
