<div class="container">
  <div class="row">
    <div class="span3">
      <div class="module">
        <p id="notice"><%= notice %></p>
        <h2 class="m0">Yo! <%= @user.username %><br /><span class="details">( <%= link_to 'Edit Your Profile', edit_user_path(@user) %> )</span></h2>

        <p>Hey! We need your brain! Ok, just your knowledge. So if you know a thing or three about a topic we don't have on the site please help us help others learn something new by <%= link_to 'submitting a topic', new_topic_url %>. Thanks!</p>

        <p>Or if you have some expertise within an existing topic feel free to submit a <%= link_to 'subtopic', new_subtopic_url %> or <%= link_to 'article', new_article_url %>. Thanks!</p>

      </div>
    </div>

    <div class="span9">
      <div class="user_score clearfix">
        <div class="score_holder pull-left">
          <h5>Score:</h5>
          <h2><%= @user.total_points(@articles) %></h2>
        </div>
        <div class="score_holder pull-left">
          <h2>=</h2>
        </div>

        <div class="score_holder pull-left">
          <h5>Submission Points:</h5>
          <h2> <%= @user.submission_points(@articles) %></h2>
        </div>
        <div class="score_holder pull-left">
          <h2>+</h2>
        </div>

        <div class="score_holder pull-left">
          <h5>Vote Points:</h5>
          <h2>
            <%= @user.vote_points(@articles) %>
          </h2>
        </div>
      </div>

      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Voted Articles</a></li>
          <li><a href="#tab2" data-toggle="tab">Submitted Article</a></li>
          <li><a href="#tab3" data-toggle="tab">Bookmarks</a></li>
        </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <h2>Voted Articles</h2>
          <ul class="unstyled">
          <% @votes.each do |v| %>
            <li><%= link_to v.article.title, v.article.url %></li>
          <% end %>
        </ul>
        </div>
        <div class="tab-pane" id="tab2">
          <h2>Submitted Articles:</h2>
          <ul class="unstyled">
            <% @articles.each do |a| %>
              <li><%= link_to a.title, a.url %></li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane" id="tab3">
          <h2>Submitted Articles:</h2>
          <ul class="unstyled">
            <%# @articles.each do |a| %>
              <%# if a.bookmark == true %>
                <!-- <li><%# link_to a.title, a.url %></li> -->
              <%# end %>
            <%# end %>
          </ul>
        </div>
      </div>
    </div>





    </div>
</div><!--end of row-->

</div>
