<h1>Editing Subtopic #<%= @subtopic.id %></h1>


<%= form_tag(subtopic_url(@subtopic), method: 'put') do %>

  <div>
    <%= label_tag :title %><br />
    <%= text_field_tag :title, @subtopic.title %>
  </div>

  <div>
    <%= label_tag :topic_id %><br />
    <%= number_field_tag :topic_id, @subtopic.topic_id %>
  </div>


  <div>
    <%= submit_tag "Update Subtopic" %>
  </div>

<% end %>
