<h1>New Subtopic</h1>


<%= form_tag(subtopics_url, method: 'post') do %>


  <div>
    <%= label_tag :subtopic_title %><br />
    <%= text_field_tag :subtopic_title %>
  </div>

    <div>
    <%= label_tag :topic_id %><br />
    <%= number_field_tag :topic_id %>
  </div>

  
  <div>
    <%= submit_tag "Create Subtopic" %>
  </div>
<% end %>
