<div class="container">
  <h1><%= @subtopic.title %></h1>
  <p>If you've recently submitted an article it should be near the bottom of this list.</p>

  <p>If you think your submission should be near the top, tell your friends, share it with your social networks, or blog about it.</p>

  <table class="table">
    <tr>
      <th>Rank</td>
      <th>Article Title</td>
      <th></td>
      <th></td>
      <th></td>
    </tr>

    <% @subtopic.articles.where(:level => params[:level]).each do |x| %>

    <tr>
      <td><%= x.id %></td>
      <td><%= link_to x.title, x.url %></td>
      <td><%= link_to "Share On Facebook", "http://www.facebook.com" %></td>
      <td><%= link_to "Let Me Twitta That", "http://www.twitter.com" %></td>
      <td><%= link_to "Friendster", "http://www.youtube.com/watch?v=oHg5SJYRHA0" %></td>
    </tr>

    <% end %>
  </table>

</div>
