<h1>Category #<%= @category.id %></h1>

<p>
  <b>Category title:</b>
  <%= @category.title %>
</p>


<h2>Add a New Topic to <%= @category.title %></h2>
<%= form_tag topics_url do %>
<%= label_tag :title, "Title" %>
<%= text_field_tag :title  %>
<%= hidden_field_tag :category_id, @category.id %>
<%= submit_tag "Add" %>
<% end %>
