<nav class="navbar navbar-fixed-top">




<ul id="logo" class="navbar-inner">
    <ul class="nav">
      <li><%= link_to 'PatchLearn', topics_url %></li>
      <!-- <li><%# link_to 'Browse Topics', topics_url %></li> -->

      <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#">
              Browse Topics
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
              <% Topic.all.each do |topic| %>
                <li><%= link_to topic.title, topic_url(topic.id) %></li>
              <% end %>
              <hr />
              <li><%= link_to "Add a Topic", new_topic_url %>
          </ul>

      </li>

    </ul>

    <%= form_tag(topics_url, class: 'navbar-search pull-left', method: 'get') do %>
      <%= text_field_tag :search, nil, placeholder: "Search by topic", class: 'search-query'  %>
    <% end %>


    <ul id="authenticate" class="nav pull-right">
      <% if session[:user_id].present? %>
        <li><%= link_to "Log Out, #{User.find_by_id(session[:user_id]).username.capitalize}", sessions_url, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Log In', new_session_url %></li>
      <% end %>
      <% if session[:user_id].present? == false %>
        <li><%= link_to 'Sign Up', new_user_url %></li>
      <% end %>
    </ul>
</ul>

</nav>

