<!DOCTYPE html>
<html>

<head>
  <title>PatchLearn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Courgette|Raleway' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'p_logo.ico' %>
</head>
<body>

  <%= render "layouts/header" %>

  <%= yield %>

  <%= render "layouts/footer" %>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41955705-1', 'patchlearn.com');
  ga('send', 'pageview');

</script>

</body>
</html>
