<!DOCTYPE html>
<html>
<head>
  <title>Patchwork</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Courgette|Raleway' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <%= render "layouts/header" %>
  <div class="clear"></div>
  <%= yield %>
  </div><!-- container end -->
</body>
</html>
