<!DOCTYPE html>
<html>

<head>
  <title>Patchwork</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Courgette|Raleway' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/header" %>

  <%= yield %>

  <%= render "layouts/footer" %>

</body>
</html>
